{% extends "base.html" %}




{% block content %}

<div>

<table id="table" class="table table-striped table-hover" style="text-align:center;" >
    <thead>
    <tr>

        <th class="txt_negrita">Nombres</th>
        <th class="txt_negrita">Cargo</th>
        <th class="txt_negrita">Direccion</th>
        <th class="txt_negrita">Extension</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="txt_negrita">{{object.primer_nombre}} {{object.primer_apellido}}</td>
        <td class="txt_negrita">{{object.descripcion_cargo}}</th>
        <td class="txt_negrita">{{object.dependencia_id }}</td>
        <td class="txt_negrita">{{object.tlf_extension}}</td>
        <td><a href="{% url 'leer' %}" type="submit" class="btn btn-danger">Volver</a></td>
    </tr>
    </tbody>
</table>

</div>
{% endblock %}